.dialog-container {
    align-items: center;
    background-color: transparent;
    flex-direction: column;
    justify-content: center;
    font-family: HWtext-65ST, HWtext;

}

.pair-hint-image {
    margin-top: 24px;
    width: 303px;
    height: 190px;
    object-fit: contain;
}

.pair-dialog-title {
    width: 288px;
    color: #000000;
    margin-top: 24px;
    font-weight: 400;
    font-family: HWtext-65ST, HWtext;
}

.pair-dialog-hint {
    width: 303px;
    color: #000000;
    font-family: HWtext-65ST, HWtext;
    margin-bottom: 8px;
    line-height: 19px;
}

.split-line {
    width: 2px;
    height: 26px;
    color: #000;
    opacity: 0.2;
    margin-top: 16px;
    transform: translate(-6px,5px);
}

.bottom-button-wrapper {
    flex-direction: row;
    justify-content : center;
    margin-top : 4px;
}

.button-connect {
    width: 150px;
    text-align: center;
    color: #0A59F7;
    font-size: 16px;
    height: 22px;
    line-height: 22px;
    font-family: HWtext-65ST, HWtext;
    flex-grow: 1;
    margin-bottom: 25px;
    margin-top: 25px;
    padding-left: 15px;
    font-weight: 500;
}
.button-connect1 {
    width: 136px;
    padding-left: 0;
    transform: translateX(-5px);
    font-family: HWtext-65ST, HWtext;

}

.dialog-container {
    align-items: center;
    background-color: transparent;
    flex-direction: column;
    justify-content: center;
}

.dialog-timeout {
    align-items: center;
    flex-direction: column;
    margin-top: 16px;
}

.pair-dialog-title {
    width: 280px;
    color: #000000;
    font-size: 18px;
    line-height: 25px;
    font-family: HWtext-55ST, HWtext;
    margin-top : 12px;
    margin-bottom : 12px;
}

.pair-dialog-hint {
    width: 280px;
    color: #000000;
    font-size: 14px;
    font-family: HWtext-55ST, HWtext;
}